<div class="card-body">
  <div class="form-group">
  <%= form_for @wiki do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control", rows: "14", autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.check_box :private, disabled: !premium_user? %>
      <%= f.label :private %>
    </div>

    <%= f.submit "Save", class: "btn btn-primary btn-lg" %>

    <% if @wiki.private? && @wiki.collaborations %>
      <%= button_to "Edit Colaborators", collaborations_path, id: "@wiki.id", method: :get, class: "btn btn-secondary btn-lg" %>
    <% elsif @wiki.private? %>
      <%= button_to "Add Colaborators", new_collaboration_path, class: "btn btn-secondary btn-lg" %>
      <% end %>
    <% end %>
  </div>
</div>
