<div class="container">
  <div class="row justify-content-sm-center">
    <div class="col-md-8">
      <div class="card" style="height: 600px">
        <div class="card-header">
          <h3>
            <%= @wiki.title %>
            <% if @wiki.private == true %>
                <%= image_tag "icons/lock-locked-4x.png" %>
              <% else %>
                <%= image_tag "icons/lock-unlocked-4x.png" %>
            <% end %>
        </h3>
          <small><%= "Last updated by #{User.getUserByID(@wiki.user_id)}" %></small>
        </div>
        <div class="card-body">
          <p><%= @wiki.body %></p>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <%= link_to "Edit", edit_wiki_path(@wiki.id), class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
